.parent {
    background-color: aliceblue;
    width: 800px;
    height: 800px;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.child {
    background-color: aqua;
    width: 100px;
    height: 100px;
}